:root {
	--color-primary-blue: #1570ef;
	--color-white: #f9fafb;
	--color-gray: #98A2B3;
	--color-error: #F04438;
	--color-blue-light:#ebf4fd;
}

.dashboard-main-cont {
	display: grid;
	grid-template-columns: 2fr 8fr;
	padding: 0;
	overflow:hidden;
	height: 100vh;
}
	.dashboard-main-cont main{
		padding: 1rem 2rem;
	}
@media screen and (max-width: 700px) {
	.dashboard-main-cont {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100vh;
	}
	.dashboard-main-cont main{
		width: 100%;
		height: 80vh;
		overflow: hidden;
		overflow-y: scroll;
		

	}

}

/* utilities */

.center{
	display: grid;
		place-items: center;
		width: 100%;
}

/*upload process  */
.numberOfErrors{
	color: var(--color-error);
}

.process-card{
	background-color: var(--color-blue-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	max-width: 700px;
	height: 300px;
	text-align: left;
	border-radius: .5rem;
}
.process-card p{
	color: var(--color-gray);
	
}

