:root {
	--color-primary-blue: #1570ef;
	--color-white: #f9fafb;
}

.dashboard-main-cont {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

@media screen and (max-width: 700px) {
	.dashboard-main-cont {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100vh;
	}
	.dashboard-main-cont main{
		width: 100%;
		height: 90vh;
	}
	.dashboard-main-cont .sideBar{
		position: fixed;
		width: 100%;
		height: 10vh;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.dashboard-main-cont .sideBar ul{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		gap: 1rem;
	}
	.dashboard-main-cont .sideBar ul:last-of-type{
		display: none;
	}
	.dashboard-main-cont .sideBar ul li p:last-of-type{
		display: none;
	}
}
