@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: 'Lexend', sans-serif;
	}
}

a {
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	display: none;
}

button:disabled {
	background-color: #2e91fa6d;
}

/* body{
	display: grid;
	place-items: center;
} */
