@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Lexend', sans-serif;
    }
}
